html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.header {
    height: 100px;
    min-width: 800px;
}

.team {
    background-color: #E6E6E6;
    border: 2px solid green;
    padding: 0;
    text-align: center;
    width: 250px;
}

.team h4 {
    background-color: white;
    border-radius: 5px;
    margin: 0;
}

.team button {
    padding: 4px;
}

.team.your-turn {
    background-color: #58ACFA;
}

.team.your-turn.active::before {
    content: "Your Turn!";
    color: #000;
}

.team-x {
    float: left;
}

.team-o {
    float: right;
}

.title {
    text-align: center;
}

#alert-modal {
    background-color: #E6E6E6;
    padding: 20px;
    border: 3px solid green;
    border-radius: 4px;
    width: 200px;
    position: absolute;
    top: 118px;
    left: 40px;
    text-align: center;
}


#game-board {
    position: relative;
    border: 2px solid green;
    border-radius: 5px;
    background-color: #E6E6E6;
    margin: 30px auto 0;
    width: 312px;
}

#event-log {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    list-style-type: none;
    height: 150px;
    margin: 10px auto 0;
    overflow: auto;
    padding: 10px;
    width: 500px;
}

.tile {
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

#top-left,
#top-middle,
#middle-left,
#middle {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#bottom-left,
#bottom-middle {
    border-right: 2px solid black;
}

#top-right,
#middle-right {
    border-bottom: 2px solid black;
}

.footer {
    background-color: #E6E6E6;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer ul {
    list-style-type: none;
}

.footer li {
    display: inline-block;
    padding: 10px 60px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.footer a:hover {
    color: black;
}
