.hide {
    display: none;
}

.team {
    background-color: silver;
    border: 2px solid green;
    padding: 0;
    text-align: center;
}

.team h4 {
    background-color: white;
    border-radius: 5px;
    margin: 0;
}

.team button {
    padding: 4px;
}

.team-x {
    float: left;
}

.team-o {
    float: right;
}

#game-board {
    border: 2px solid green;
    border-radius: 5px;
    background-color: silver;
    margin: 100px auto 0;
    width: 312px;
}

#event-log {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    width: 300px;
}

.tile {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    height: 100px;
    width: 100px;
}

#top-left,
#top-middle,
#middle-left,
#middle {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#bottom-left,
#bottom-middle {
    border-right: 2px solid black;
}

#top-right,
#middle-right {
    border-bottom: 2px solid black;
}
