.hide {
    display: none;
}

.team {
    background-color: silver;
    border: 2px solid green;
    padding: 0;
    text-align: center;
}

.team h4 {
    background-color: white;
    border-radius: 5px;
    margin: 0;
}

.team button {
    padding: 4px;
}

.team.your-turn {
    background-color: red;
}

.team.your-turn::before {
    content: "Your Turn!";
    color: #000;
}

.team-x {
    float: left;
}

.team-o {
    float: right;
}

#game-board {
    border: 2px solid green;
    border-radius: 5px;
    background-color: silver;
    margin: 30px auto 0;
    width: 312px;
}

#event-log {
    border: 1px solid silver;
    border-radius: 5px;
    list-style-type: none;
    height: 150px;
    margin: 10px auto 0;
    overflow: auto;
    padding: 10px;
    width: 500px;
}

.tile {
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

#top-left,
#top-middle,
#middle-left,
#middle {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#bottom-left,
#bottom-middle {
    border-right: 2px solid black;
}

#top-right,
#middle-right {
    border-bottom: 2px solid black;
}
